In [59]:
import yfinance as yf

# Define the function to fetch historical S&P 500 index data
def fetch_sp500_index_data(start_date="2010-01-01", end_date="2024-01-31"):
    # Fetch data for the S&P 500 index symbol '^GSPC'
    sp500_data = yf.download("^GSPC", start=start_date, end=end_date)
    if sp500_data.empty:
        print("No data found for S&P 500 index.")
        return None
    
    # Save the data to a CSV file
    sp500_data.to_csv("sp500.csv")
    print("S&P 500 index data saved to sp500.csv")

# Fetch and save the data
fetch_sp500_index_data()

[*********************100%***********************]  1 of 1 completed

S&P 500 index data saved to sp500.csv

In [60]:
import pandas as pd 
df=pd.read_csv('sp500.csv')
df = df.iloc[2:]
df.rename(columns={'Price':'Date'},inplace=True)

print(df.columns)
df['Date']=pd.to_datetime(df['Date'])

Index(['Date', 'Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [64]:
display(df.head())

print(df.isnull().sum())

print('Duplicados: ',df.duplicated().sum())


# Iterar sobre todas las columnas menos 'Date'
for columna in df.columns:
    if columna != 'Date':
        # Verificar valores no numéricos en la columna
        non_numeric_values = df[columna][~df[columna].apply(lambda x: isinstance(x, (int, float)))]
        # Convertir la columna a tipo numérico, forzando los errores a NaN
        df[columna] = pd.to_numeric(df[columna], errors='coerce')

# Dividir train y test  

train=df[df['Date']<'2024-01-01']
test=df[df['Date']>='2024-01-01']

train=train.drop(columns='Date')
test=test.drop(columns='Date')

display(train.head())

,Date,Adj Close,Close,High,Low,Open,Volume
2,2010-01-04 00:00:00+00:00,1132.989990,1132.989990,1133.869995,1116.560059,1116.560059,3991400000
3,2010-01-05 00:00:00+00:00,1136.520020,1136.520020,1136.630005,1129.660034,1132.660034,2491020000
4,2010-01-06 00:00:00+00:00,1137.140015,1137.140015,1139.189941,1133.949951,1135.709961,4972660000
5,2010-01-07 00:00:00+00:00,1141.689941,1141.689941,1142.459961,1131.319946,1136.270020,5270680000
6,2010-01-08 00:00:00+00:00,1144.979980,1144.979980,1145.390015,1136.219971,1140.520020,4389590000

Date         0
Adj Close    0
Close        0
High         0
Low          0
Open         0
Volume       0
dtype: int64
Duplicados:  0

     Adj Close        Close         High          Low         Open      Volume
2  1132.989990  1132.989990  1133.869995  1116.560059  1116.560059  3991400000
3  1136.520020  1136.520020  1136.630005  1129.660034  1132.660034  2491020000
4  1137.140015  1137.140015  1139.189941  1133.949951  1135.709961  4972660000
5  1141.689941  1141.689941  1142.459961  1131.319946  1136.270020  5270680000
6  1144.979980  1144.979980  1145.390015  1136.219971  1140.520020  4389590000